@import "alfrewDesign/all";

.height-800 {
  height: 800px;
}
.height-600 {
  height: 600px;
}
.height-300 {
  min-height: 300px;
}

.navbar-expand {
  background-color: black;
  color: white;
  .nav-item a,
  a {
    color: white;
  }
  .dot {
    background-color: $main-color-shade-transpa;
  }
  .line1,
  .line2,
  .line3 {
    background-color: white;
  }
}

#iconList {
  height: 48px;

  .bi {
    font-size: 32px;
    color: $background-text-contrast;
    transition: all 300ms;

    @include for-size(xl) {
      &:hover {
        color: $main-color-tint;
        font-size: 48px;
      }
    }
  }
}

#me {
  padding: 80px 0px;
  min-height: 60vh;
}

.polygon {
  height: 80px;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  background-color: black;
}
.polygon-down {
  height: 80px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 70%);
  background-color: black;
}

// My work
#myWork {
  min-height: 70vh;
}
#services .bi {
  font-size: $font-size-h1;
}

#footerList {
  li {
    margin: 0px 16px;
    font-size: 20px;
    color: $main-text-contrast;
  }
  a {
    color: $background-text-contrast;
    text-decoration: none;
  }
}

#workPic {
  background-image: url(../img/CIF_2446.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
