.landing-container {
  height: 100vh;
}
.landing-fixed {
  position: fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $main-color-tint;
}
